<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col footer-col-1">

          {% if site.github_username %}
          <span>
            {% include icon-github.html username=site.github_username %}|
          </span>
          {% endif %}

          {% if site.linkedin_username %}
            <span>
              {% include icon-linkedin.html username=site.linkedin_username %}|
            </span>
          {% endif %}

          {% if site.quora_username %}
            <span>
              {% include icon-quora.html username=site.quora_username %}|
            </span>
          {% endif %}

          {% if site.twitter_username %}
          <span>
            {% include icon-twitter.html username=site.twitter_username %}|
          </span>
          {% endif %}

          {% if site.google_plus_username %}
            <span>
              <a href="https://plus.google.com/{{ site.google_plus_username }}">
                <i class="fa fa-google-plus"></i> Google+
              </a>
            </span>
          {% endif %}

          {% if site.telegram_username %}
            <span>
              {% include icon-telegram.html username=site.telegram_username %}|
            </span>
          {% endif %}

          {% if site.facebook_username %}
            <span>
              {% include icon-facebook.html username=site.facebook_username %}
            </span>
          {% endif %}

      </div>
<!--
      <div class="footer-col footer-col-2">
        <a class="theme" onclick="theme()">Toggle Theme</a>
      </div>
-->

      <div class="footer-col footer-col-2">
        <a class="theme" onclick="theme()">Toggle Theme</a>
      </div>
<!--
      <div class="footer-col footer-col-3">
        {{ site.description | escape }}
      </div>
-->
      <div class="footer-col footer-col-3">
        akhil[dot]r[dot]baranwal[at]gmail[dot]com
      </div>
  </div>

</footer>
