---
layout: default
---

<div class="home" style="text-align: center">

  {{ content }}

  <h1 class="page-heading">
    <br>
    <br>
    <p>Hi!</p>
    <br>
    <p>
      Welcome to my website.<br>
      Please use the following links to navigate around.<br>
      My social profiles are linked in the bottom left corner.
      <br>
      <br>
    </p>
  </h1>

  <ul class="page-list">
    {% for page in site.pages %}
      <h2>
        <a class="page-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
      </h2>
    {% endfor %}
  </ul>

</div>
