---
layout: default
---

<div class="nerdstuff" style="text-align:center">

  {{ content }}
  <!-- <div style="text-align:center; font-size: 14px">
    <p>
      This is supposed to be a random list of little adventures I've been to in engineering,<br>
      various ideas related to technology that caught my attention, or my projects.<br>
      For all productive and formal projects, please view my (hopefully updated) CV <a href="assets/resumeARB.pdf" target="newwin">here</a>
    </p>
  </div> -->

  <br>
  <div style="text-align:center; font-size: 32px">
      Research
  </div>
  <br>
  <a </a>
  <div style="text-align:center; font-size: 20px" itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" href="https://scholar.google.com/citations?user={{ site.gscholar_username }}" target="gscholar.widget" rel="me noopener noreferrer" style="vertical-align:top;" alt="Google Scholar icon"><span class="icon icon--gscholar">{% include icon-gscholar.svg %}</span>Google Scholar</a></div>

  <div style="text-align:center; font-size: 18px" itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0003-1024-9101" href="https://orcid.org/0000-0003-1024-9101" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">ORCID iD</a></div>

  <br>
  <hr>
  <hr>
  <br>
  <br>
  <br>
  <div style="text-align:center; font-size: 32px">
      Projects
  </div>

  <br>
  <ul class="post-list">
    {% for post in site.categories.techblog %}
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h2>
    <p>{{ post.excerpt | truncatewords:50 }}</p>
    <hr>
    <br>
    {% endfor %}
  </ul>

<br>
<br>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>
