---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Nerd Stuff</h1>
  <div style="text-align:center; font-size: 18px">
    <p>
      This is supposed to be a random list of little adventures I've been to in engineering,<br>
      various ideas related to technology that caught my attention, or my projects.<br>
      <!--For all productive and formal projects, please view my (hopefully updated) CV <a href="assets/resumeARB.pdf" target="newwin">here</a>.-->
    </p>
  </div>

  <ul class="post-list">
    {% for post in site.categories.techblog %}
    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h2>
    {% endfor %}
  </ul>

<br>
<br>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>
